<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Welcome to the Dashboard</h1>
<a href="/blogs/create">Create a New Blog</a>
<h2>Your Blogs:</h2>
<ul>
  <li th:each="blog : ${blogs}">
    <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.title}"></a>
    <a th:href="@{/blogs/{id}/edit(id=${blog.id})}" th:text="'Edit ' + ${blog.title}"></a>
    <a th:href="@{/blogs/{id}/delete(id=${blog.id})}" th:text="'Delete ' + ${blog.title}"></a>
  </li>
</ul>
</body>
</html>
